{{include file="head.html"}}
 <ul class="top_menu"> 
   <a href="{{if $type ==1}}{{site_url url='product/show_cart'}}
   {{elseif $type==2}}{{site_url url='product/my_address'}}
   {{else}}
   {{if $pid>0}}
   {{site_url url='product/product_info'}}/{{$pid}}/{{$html_flag}}
   {{else}}
   {{site_url url='product/my_address'}}
   {{/if}}
   {{/if}}">

	   <div class="menu_content">新增收货地址<img src="/res/images/arrow_pre.png" class="back_icon"></div></a>
 </ul>
 <!--内容开始-->
 <div class="main" style="margin-top:0; padding-bottom: 2.6rem;">
 	<form id="save_form" action="{{site_url url='product/save_address'}}/{{$type}}/{{$pid}}/{{$html_flag}}" method="post" enctype="multipart/form-data">
 	<div class="address_part_one">
 		<div class="input_box"><input id="name" name="name" placeholder="姓名" type="text" required class="input_text"></div>
 		<div class="input_box"><input id="phone" name="phone" placeholder="电话" type="text" required class="input_text"></div>
 	</div>
 	<div class="address_part_one">
 		<div class="input_box limit_width">
 		   <img src="/res/images/icon_arrow_down.png" class="icon_down">
	       <select name="provice_code" class="select_box"  id="province">
	         <option value="">-请选择省份-</option>
	       </select>
 		</div>
 		<div class="input_box limit_width">
 			<img src="/res/images/icon_arrow_down.png" class="icon_down">
	       <select name="city_code" class="select_box" id="city">
	         <option value="">-请选择城市-</option>
	       </select>
 		</div>
 		<div class="input_box limit_width">
 			<img src="/res/images/icon_arrow_down.png" class="icon_down">
	       <select name="area_code" class="select_box"  id="area">
	         <option value="">-请选择县区-</option>
	       </select>
 		</div>
        <div class="input_box limit_width limit_ht">
            <textarea id="address" name="address" cols="" rows=""  required placeholder="地址详情"></textarea>
 		</div>
 		<div class="input_box limit_width"><input id="zip" name="zip" placeholder="邮政编码（选题）" type="text" required class="input_text"></div>
 	</div>
 	<div class="address_part_one limint_padding">
 		<span class="check_tile">设为默认</span>
	    <div class="slideThree">  
	      <input type="checkbox" value="None" id="default" name="default" checked />
	      <label for="default"></label>
	    </div>
 	</div>
 	<div class="address_part_one limint_padding"><input id="save_btn" type="button" name="sumbit" value="保存" class="form_sumbit"></div> 	
 	</form>
 </div>
</body>
<script type="text/javascript" src="/res/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/res/js/jquery-finger-0.1.0.min.js"></script>
<script type="text/javascript" src="/res/js/topmenu.js"></script>
<script type="text/javascript" src="/res/js/boxslide.js"></script>
<script type="text/javascript" src="/res/js/lazyload.js"></script>
<script type="text/javascript" src="/res/js/price_order.js"></script>
<script type="text/javascript">
$(function(){

	$.getJSON("{{site_url url='ajax/getprovince'}}",function(data){
		html='<option value="" selected = "selected">-请选择省份-</option>';
		if (data!=1){
			data.forEach(function (item) {
				html+='<option value="'+item.code+'">'+item.name+'</option>'
			})
		}else{
			alert('NG');
		}
		$("#province").html(html);
	})

	$("#province").change(function(){
		$.getJSON("{{site_url url='ajax/getcity'}}/"+$("#province").val(),function(data){
			html='<option value="">-请选择城市-</option>';
			if (data!=1){
				data.forEach(function (item) {
					html+='<option value="'+item.code+'">'+item.name+'</option>'
				})
			}else{

			}
			$("#city").html(html);
			$("#area").html("<option value=''>-请选择县区-</option>");
		});
	});

	$("#city").change(function(){
		$.getJSON("{{site_url url='ajax/getarea'}}/"+$("#city").val(),function(data){
			html='<option value="">-请选择县区-</option>';
			if (data!=1){
				data.forEach(function (item) {
					html+='<option value="'+item.code+'">'+item.name+'</option>'
				})
			}else{

			}
			$("#area").html(html);
		});
	});

	$("#save_btn").click(function () {
		if ($.trim($("#name").val())==""){
			alert('请填写姓名')
			return false;
		}
		if ($.trim($("#phone").val())==""){
			alert('请填写电话')
			return false;
		}
		if ($.trim($("#province").val())==""){
			alert('请选择省份')
			return false;
		}
		if ($.trim($("#city").val())==""){
			alert('请选择城市')
			return false;
		}
		if ($.trim($("#area").val())==""){
			alert('请选择县区')
			return false;
		}
		if ($.trim($("#address").val())==""){
			alert('请填写详细地址')
			return false;
		}
		$("#save_form").submit();
	})
});

</script>
</html>
