{{include file="head.html"}}
<!--选择地址开始-->
<div class="address_list">
	<div class="header">
		<img src="/res/images/logo.jpg" class="img_logo">
	</div>
	<div class="sladdress_list">
		<ul>
			{{if $data['address']!=1}}
			{{foreach from=$data['address'] item=foo}}
			<li>
				<div class="order_address limit_padding">
					<img src="/res/images/icon_yes.png" class="icon_next {{if $foo['default']!=1}} hide {{/if}}">
					<div class="sel_address on">
						<div class="sel_address_top"><span class="mail_name">
                              {{$foo['name']}}
						</span><span class="mail_tel">{{$foo['phone']}}</span></div>
						<div class="sel_address_bottom">
							{{if $foo['default']==1}}<span class="first_do">[默认]</span>{{/if}}
							<input type="hidden" value="{{$foo['id']}}">
							收货地址：<span class="address_eq">{{$foo['f_name']}}{{$foo['g_name']}}{{$foo['h_name']}}{{$foo['address']}}</span></div>
					</div>
				</div>
			</li>
			{{/foreach}}
			{{/if}}




		</ul>
	</div>
	<a href="{{site_url url='product/add_address'}}/1"> <div class="sladdress_add">添加地址</div></a>
</div>
 <ul class="top_menu">
	 <a href="{{site_url url='product/index'}}">
		 <div class="menu_content">购物车(<car_num>{{$data['num']}}</car_num>)<img src="/res/images/arrow_pre.png" class="back_icon"></div>
		 </a>
 </ul>
 <!--内容开始-->


 <div class="main" style="margin-top:0; padding-bottom: 2.6rem;">

	 <div class="order_address" id="address" style="display: none">
		 <img src="/res/images/icon_dibiao.png" class="icon_dibiao">
		 <img src="/res/images/arrow_next.png" class="icon_next">
		 <!-- 		<span class="sel_address_title">请选择您的收货地址</span>-->
		 <div class="sel_address on" id="mail_address_show">
			 <div class="sel_address_top"><span class="mail_name">
				  {{if $data['default_address']!=1}}
				 {{$data['default_address']['name']}}
				  {{/if}}
			 </span><span class="mail_tel"></span></div>
			 <div class="sel_address_bottom">
				 <input type="hidden" value="{{if $data['default_address']!=1}} {{$data['default_address']['id']}}{{/if}}">
				 收货地址：<span class="address_eq">
				  {{if $data['default_address']!=1}}
				 {{$data['default_address']['f_name']}} {{$data['default_address']['g_name']}}{{$data['default_address']['h_name']}} {{$data['default_address']['address']}}
				  {{/if}}
			 </span></div>
		 </div>
	 </div>


    <ul class="cart_list">
		{{if $data['item']!=1}}
		{{foreach from=$data['item'] item=foo}}
		<li>
			<label class="input_cart"><input name="checkbox" type="checkbox" value="" ></label>
			<div class="cart_pic"><img src="/uploadfiles/pics/{{$foo['bg_pic']}}"></div>
			<span class="cart_title">{{$foo['pro_name']}}</span>
			<span class="cart_spec">{{$foo['de_size']}}</span>
			<div class="cart_price">
				<span class="cart_price_show">￥<span class="price_num">{{$foo['de_price']}}</span></span>
				<span class="cart_num_show">x <span class="prt_num">{{$foo['qty']}}</span></span>
			</div>
			<div class="del_btn">编辑</div>
			<div class="edit_div">
				<div class="cart_btn_add" >
					<a href="#" class="arrow click_subtract"><img src="/res/images/icon_jia.jpg"></a>
					<input type="text"  name="qty" value="{{$foo['qty']}}" class="viewnum qty" style="width:30px; padding:0">
					<a href="#" class="arrow click_add"><img src="/res/images/icon_jian.jpg"></a>
				</div>
				<span class="cart_spec_edit">{{$foo['de_size']}}</span>
				<div class="cart_right">
					<div class="cart_right_part over" name="save_cart[]">完成
						<input type="hidden" value="{{$foo['id']}}">
					</div>
					<div class="cart_right_part del" name="delete_cart[]">删除
					<input type="hidden" value="{{$foo['id']}}">
					</div>
				</div>
			</div>
		</li>
		{{/foreach}}
		{{/if}}


    </ul>

 </div>
  <!--底部菜单开始-->
  <ul class="bottom_menu" id="cart_bottom">
  	<li style=" position:relative; width: 66%; background: #ffffff; height: 2.5rem;">
  		<label class="input_cart_all"><input name="checkbox" type="checkbox" value="0"> <span>全选</span></label>
  		<span class="price_sum">合计：<font>￥</font><span class="price_sum_num">0.0</span></span>
  	</li>
  	<li style=" position:relative; width: 34%;" id="cart_btn">确认(<span class="sl_ck">0</span>)</li>
  </ul>
<ul class="bottom_menu" id="order_bottom" style="display: none">
	<li style=" position:relative; width: 66%; background: #ffffff; height: 2.5rem;">
		<span class="price_sum">合计：<font>￥</font><span class="price_sum_num">0.0</span></span>
	</li>
	<li style=" position:relative; width: 34%;" id="order_btn">结算(<span class="sl_ck">0</span>)</li>
</ul>
</body>
<script type="text/javascript" src="/res/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/res/js/jquery-finger-0.1.0.min.js"></script>
<script type="text/javascript" src="/res/js/topmenu.js"></script>
<script type="text/javascript" src="/res/js/boxslide.js"></script>
<script type="text/javascript" src="/res/js/lazyload.js"></script>
<script type="text/javascript" src="/res/js/price_order.js"></script>
<script type="text/javascript">
$(function(){
	$(".sladdress_list li").each(function(){
		$(this).click(function(){
			var v_address=$(this).find(".address_eq").text();
			var v_name=$(this).find(".mail_name").text();
			var v_tel=$(this).find(".mail_tel").text();
			var v_id=$(this).find("input").eq(0).val();
			$(this).find(".icon_next").removeClass("hide");
			$(this).siblings().find(".icon_next").addClass("hide");
			$("#mail_address_show").find(".address_eq").text(v_address);
			$("#mail_address_show").find(".mail_name").text(v_name);
			$("#mail_address_show").find(".mail_tel").text(v_tel);
			$("#mail_address_show").find("input").eq(0).val(v_id);
			$(".address_list").removeClass("pt-page-moveFromRight");
		});
	});
	$("#address").click(function(){
		$(".address_list").addClass("pt-page-moveFromRight");
	});


      $(".input_cart_all input").click(function(){
      	if($(this).prop("checked")){
      	 $(".cart_list li").find("[name='checkbox']").prop("checked",true);
      	 cart_sum();
      	 check_num();
      }else{
      	 $(".cart_list li").find("[name='checkbox']").prop("checked",false);
      	 cart_sum();
      	 check_num();
      }
      });

	$("[name='delete_cart[]']").click(function () {
		var car_id=$(this).find('input').eq(0).val();
		var delete_li =  $(this).parent().parent().parent();
		$.getJSON("{{site_url url='ajax/delete_cart'}}/"+car_id,function(data){
             if(data==-1){
				 alert('删除失败！');
			 }else{
				 delete_li.remove();
				 $("car_num").html(data);
			 }
		});
	})

	$("[name='save_cart[]']").click(function () {
		var car_id=$(this).find('input').eq(0).val();
		var save_qty =  $(this).parent().parent().find("[name='qty']").eq(0).val();
		$.getJSON("{{site_url url='ajax/change_cart'}}/"+car_id+"/"+save_qty,function(data){
			if(data==-1){
				alert('存储失败！');
			}else{

			}
		});
	})

	$("#cart_btn").click(function () {
		var order_flag=0
		$(".cart_list li").find("[name='checkbox']").each(function(index) {
			if ($(this).prop("checked")) {
				order_flag = 1;
			}
		});
		if (order_flag==0){
			alert('请选择商品')
			return false;
		}

		$(".cart_list li").find("[name='checkbox']").each(function(index) {

			if ($(this).prop("checked")) {
				$(this).css('display','none');
				$(this).parent().parent().find('.del_btn').css('display','none');
			} else {
				$(this).parent().parent().remove();
			}
		});


		$(".cart_list li").find("[name='checkbox']").each(function(index) {

			if ($(this).prop("checked")) {
                  $(this).css('display','none');
				$(this).parent().parent().find('.del_btn').css('display','none');
			} else {
				$(this).parent().parent().remove();
			}
		});
		$("#cart_bottom").css("display","none");
		$("#order_bottom").css("display","block");
		$("#address").css("display","block");
		html='';
		var cart_path = "{{site_url url='product/show_cart'}}"
		html+='<a href="'+cart_path+'"><div class="menu_content">返回<img src="/res/images/arrow_pre.png" class="back_icon"></div></a>'
		$(".top_menu").html(html);
	})
	
	$("#order_btn").click(function () {
	   var address_id = $("#mail_address_show").find('input').eq(0).val();
		alert(address_id);
	})
});
</script>
</html>
