<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="../res/css/shop/style.css" />
<link rel="stylesheet" type="text/css" href="../res/css/shop/jquery.bxslider.css" />
<link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="../res/css/css_app.css" />
<link rel="stylesheet" type="text/css" media="screen and (min-width: 480px)" href="../res/css/css_pc.css" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>螺蛳湾商城</title>
</head>
<body>
<!--头部开始-->
 <div class="header">
  <img src="../res/images/logo.jpg" class="img_logo">
 </div>
 <img src="../res/images/btn_more.png" class="img_btn_more">
 <ul class="top_menu"> 
 	<li><img src="../res/images/icon_shouye_on.png"><span class="active_top color_on">商城首页</span><div class="bottom_line on"></div></li>
 	<li><img src="../res/images/icon_shangpin.png"><span>所有商品</span><div class="bottom_line"></div></li>
 	<li><img src="../res/images/icon_fenglei.png"><span>分类</span><div class="bottom_line"></div></li>
 	<li></li>
 </ul>
 </div>
 <!--内容开始-->
 <div class="main" style="margin-top:0">
 	<!--头部图片滚动开始-->
    <div class="slider7">
      <div class="slide"><img src="../res/images/banner.jpg"></div>
      <div class="slide"><img src="../res/images/banner_1.jpg"></div>
    </div>
    <!--首页推荐产品开始-->
    <ul class="index_list">
    	<li><div class="prt_send"><img class="lazy" src="../res/images/bx_loader.gif" dataimg="../res/images/prt_a.jpg"></div><span class="prt_pirce">￥30.9</span><span class="prt_title">苏北猪大腿</span></li>
    	<li><div class="prt_send"><img class="lazy" src="../res/images/bx_loader.gif" dataimg="../res/images/prt.jpg"></div><span class="prt_pirce">￥10.9</span><span class="prt_title">野生鲫鱼</span></li>
    	<li><div class="prt_send"><img class="lazy" src="../res/images/bx_loader.gif" dataimg="../res/images/prt_a.jpg"></div><span class="prt_pirce">￥30.9</span><span class="prt_title">苏北猪大腿</span></li>
    	<li><div class="prt_send"><img class="lazy" src="../res/images/bx_loader.gif" dataimg="../res/images/prt.jpg"></div><span class="prt_pirce">￥10.9</span><span class="prt_title">野生鲫鱼</span></li>
    </ul>
 </div>
 <!--购物车按钮开始-->
 <div class="menu_cart"><img src="../res/images/icon_gouwuche.png"></div>
</body>
<script type="text/javascript" src="../res/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../res/js/jquery-finger-0.1.0.min.js"></script>
<script type="text/javascript" src="../res/js/topmenu.js"></script>
<script type="text/javascript" src="../res/js/boxslide.js"></script>
<script type="text/javascript" src="../res/js/lazyload.js"></script>
<script type="text/javascript">
$(function(){
           $('.slider7').bxSlider({ 
            slideWidth: 640, 
			infiniteLoop: true,
            controls: false,    
            auto: true,
            autoStart: true,
          });
});
</script>
</html>
