{{include file="head.html"}}
 <ul class="top_menu"> 
 	<li>
        <a href="{{site_url url='product/index'}}">
            <img src="../res/images/icon_shouye_on.png"><span class="active_top color_on">商城首页</span><div class="bottom_line on"></div>
        </a>
    </li>
 	<li> <a href="{{site_url url='product/product_main'}}">
        <img src="../res/images/icon_shangpin.png"><span>所有商品</span><div class="bottom_line"></div>
    </a></li>
 	<li> <a href="{{site_url url='product/product_list'}}">
        <img src="../res/images/icon_fenglei.png"><span>分类</span><div class="bottom_line"></div>
    </a></li>
 	<li></li>
 </ul>
 </div>
 <!--内容开始-->
 <div class="main" style="margin-top:0">
 	<!--头部图片滚动开始-->
    <div class="slider7">
      <div class="slide"><img src="../res/images/banner.jpg"></div>
      <div class="slide"><img src="../res/images/banner_1.jpg"></div>
    </div>
    <!--首页推荐产品开始-->
    <ul class="index_list">
    	<li><a href="{{site_url url='product/product_info'}}"><div class="prt_send"><img class="lazy" src="../res/images/bx_loader.gif" dataimg="../res/images/prt_a.jpg"></div><span class="prt_pirce">￥30.9</span><span class="prt_title">苏北猪大腿</span></a></li>
    	<li><a href="{{site_url url='product/product_info'}}"><div class="prt_send"><img class="lazy" src="../res/images/bx_loader.gif" dataimg="../res/images/prt.jpg"></div><span class="prt_pirce">￥10.9</span><span class="prt_title">野生鲫鱼</span></a></li>
    	<li><a href="{{site_url url='product/product_info'}}"><div class="prt_send"><img class="lazy" src="../res/images/bx_loader.gif" dataimg="../res/images/prt_a.jpg"></div><span class="prt_pirce">￥30.9</span><span class="prt_title">苏北猪大腿</span></a></li>
    	<li><a href="{{site_url url='product/product_info'}}"><div class="prt_send"><img class="lazy" src="../res/images/bx_loader.gif" dataimg="../res/images/prt.jpg"></div><span class="prt_pirce">￥10.9</span><span class="prt_title">野生鲫鱼</span></a></li>
    </ul>
 </div>
 <!--购物车按钮开始-->
 <div class="menu_cart"><img src="../res/images/icon_gouwuche.png"></div>
</body>
<script type="text/javascript" src="../res/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../res/js/jquery-finger-0.1.0.min.js"></script>
<script type="text/javascript" src="../res/js/topmenu.js"></script>
<script type="text/javascript" src="../res/js/boxslide.js"></script>
<script type="text/javascript" src="../res/js/lazyload.js"></script>
<script type="text/javascript">
$(function(){
           $('.slider7').bxSlider({ 
            slideWidth: 640, 
			infiniteLoop: true,
            controls: false,    
            auto: true,
            autoStart: true,
          });
});
</script>
</html>
