{{include file="head.html"}}
 <ul class="top_menu">
	 <a href="{{site_url url='product/my_center'}}">
   <div class="menu_content">我的订单<img src="/res/images/arrow_pre.png" class="back_icon"></div>
		 </a>
 </ul>
 <!--内容开始-->
 <div id="order_list" class="main" style="margin-top:0; padding-bottom: 2.6rem;">
	 {{if $data['main']!=1}}
	 {{foreach from=$data['main'] item=foo}}
	 <div class="order_list limit_shadow">
		 <div class="order_num">订单号：{{$foo['num']}}</div>
		 <ul class="myorder_list">
			 {{if $data['detail']!=1}}
			 {{foreach from=$data['detail'] item=doo}}
			 {{if $doo['oid']==$foo['id']}}
			 <li>
				 <div class="cart_pic"><img src="/uploadfiles/pics/{{$doo['bg_pic']}}"></div>
				 <span class="cart_title">{{$doo['pro_name']}}</span>
				 <span class="cart_spec">{{$doo['de_size']}}</span>
				 <div class="cart_price">
					 <span class="cart_price_show">￥<span class="price_num">{{$doo['price']}}</span></span>
					 <span class="cart_num_show">x <span class="prt_num">{{$doo['qty']}}</span></span>
				 </div>
			 </li>
			 {{/if}}
			 {{/foreach}}
			 {{/if}}
		 </ul>
		 <div class="order_time"><span class="time_show_order">下单时间：{{$foo['cdate']}}</span><a href="{{site_url url='product/order_info'}}/{{$foo['id']}}"><div class="order_more_btn">查看详情</div></a> </div>
	 </div>
	 {{/foreach}}
	 {{/if}}
 </div>
<span class="load_more" id="get_product">点击载入更多...</span>
<input type="hidden" name="page" id="page" value="2">
</body>
<script type="text/javascript" src="/res/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/res/js/jquery-finger-0.1.0.min.js"></script>
<script type="text/javascript" src="/res/js/topmenu.js"></script>
<script type="text/javascript" src="/res/js/boxslide.js"></script>
<script type="text/javascript" src="/res/js/lazyload.js"></script>
<script type="text/javascript" src="/res/js/price_order.js"></script>
<script type="text/javascript">
$(function(){
    $(".sladdress_list li").each(function(){
    	$(this).click(function(){
    		var v_address=$(this).find(".address_eq").text();
    		var v_name=$(this).find(".mail_name").text();
    		var v_tel=$(this).find(".mail_tel").text();
    		$(this).find(".icon_next").removeClass("hide");
    		$(this).siblings().find(".icon_next").addClass("hide");
    		$("#mail_address_show").find(".address_eq").text(v_address);
    		$("#mail_address_show").find(".mail_name").text(v_name);
    		$("#mail_address_show").find(".mail_tel").text(v_tel);
    		$(".address_list").removeClass("pt-page-moveFromRight");   		
    	});
    });
    $("#address").click(function(){
    	    $(".address_list").addClass("pt-page-moveFromRight");
    });
	$("#get_product").click(function () {

		var page=$("#page").val();

		$.getJSON("{{site_url url='ajax/get_order'}}/"+page,function(data){

			html='';
			path="{{site_url url='product/order_info'}}";
			if (data!=1){
				data.main.forEach(function (item) {
					html+='<div class="order_list limit_shadow">'
					html+='<div class="order_num">订单号：'+item.num+'</div>'
					html+='<ul class="myorder_list">'
					if (data.detail!=1){
						data.detail.forEach(function (det) {
							if(det.oid==item.id){
								html+='<li>'
								html+='<div class="cart_pic"><img src="/uploadfiles/pics/'+det.bg_pic+'"></div>'
								html+='<span class="cart_title">'+det.pro_name+'</span>'
								html+='<span class="cart_spec">'+det.de_size+'</span>'
								html+='<div class="cart_price">'
								html+='<span class="cart_price_show">￥<span class="price_num">'+det.price+'</span></span>'
								html+='<span class="cart_num_show">x <span class="prt_num">'+det.qty+'</span></span>'
								html+='</div>'
								html+='</li>'
							}
						})
					}
					html+='<div class="order_time"><span class="time_show_order">下单时间：'+item.cdate+'</span>'
					html+= '<a href="'+path+'/'+item.id+'">'
					html+='<div class="order_more_btn">查看详情</div></a> </div>'
					html+='</div>'
				})
				$("#order_list").append(html);
				pageint=parseInt(page)+1;
				$("#page").val(pageint);
			} else{
				$("#get_product").html('已无更多信息')
			}

		});
	})
});
</script>
</html>
