{{include file="head.html"}}
<!--产品属性选择开始-->
<div class="prt_property">
	<div class="prt_property_bg"></div>
	<div class="prt_property_info">
	   <img src="/res/images/icon_close.png" class="close_btm">
       <span class="open_slt_title">产品标题</span>
       <span class="open_slt_price"></span>
       <span class="open_slt_protitle">选择属性</span>
       <div class="open_slt_content">
       	  <ul>
              {{if $data['details']!=1}}
              {{foreach from=$data['details'] item=foo}}
              <li><flag>{{$foo['size']}}</flag>
                  <detailid style="display: none">{{$foo['id']}}</detailid>
              <input type="hidden" name="price" value="{{$foo['price']}}">
              </li>
              {{/foreach}}
              {{/if}}
       	  </ul>
       </div>
       <div class="open_slt_num">
       	  <span class="open_slt_protitle">购买数量</span>
       	  <div class="btn_add" >
		    <a href="#" class="arrow click_subtract"><img src="/res/images/icon_jia.jpg"></a>
		        <span class="viewnum" id="qty_v" style="display:none;">1</span>
		        <input type="text" id="buy_qty"  name="qty" value="1" class="viewnum qty" style="width:30px; padding:0">
		    <a href="#" class="arrow click_add"><img src="/res/images/icon_jian.jpg"></a>
	      </div>
       </div>
       <div class="open_slt_submit">确定</div>
	</div>
</div>
<!--头部开始-->
 <ul class="top_menu">

     {{if $html_flag==-1}}
         <a href="{{site_url url='product/index'}}"><div class="menu_content">商场首页<img src="/res/images/arrow_pre.png" class="back_icon"></div></a>
     {{/if}}
     {{if $html_flag==-2}}
     <a href="{{site_url url='product/product_main'}}"><div class="menu_content">所有商品<img src="/res/images/arrow_pre.png" class="back_icon"></div></a>
     {{/if}}
     {{if $html_flag > 0}}
     <a href="{{site_url url='product/product_list'}}/{{$html_flag}}"><div class="menu_content">{{$data['title']}}<img src="/res/images/arrow_pre.png" class="back_icon"></div></a>
     {{/if}}

 </ul>
 <!--内容开始-->
 <div class="main" style="margin-top:0; padding-bottom: 2.6rem;">
 	<!--产品图片滚动开始-->
    <div class="slider7" id="slider_div">

    </div>
    <div class="prt_header">
      <h3>{{if $data['info']!=1}}{{$data['info']['name']}}{{/if}}</h3>
      <span class="price_all">{{if $data['info']!=1}}{{$data['info']['price']}}{{/if}}</span>
    </div>
    <div class="ems">
         包邮</div>
    <div class="prt_type"><img src="/res/images/arrow_next.png" class="arrow_next" style="top: 0.85rem;"></div>
    <div class="prt_info">
    	<span class="xiangqing">详情</span>
        {{if $data['info']!=1}}{{$data['info']['desc']}}{{/if}}
    </div>
 </div>
  <!--底部菜单开始-->
  <ul class="bottom_menu">
  	<li id="save_cart">加入购物车</li>
  	<li>立即购买</li>
  </ul>
</body>
<script type="text/javascript" src="/res/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/res/js/jquery-finger-0.1.0.min.js"></script>
<script type="text/javascript" src="/res/js/topmenu.js"></script>
<script type="text/javascript" src="/res/js/boxslide.js"></script>
<script type="text/javascript" src="/res/js/lazyload.js"></script>
<script type="text/javascript" src="/res/js/price_order.js"></script>
<script type="text/javascript">
$(function(){

          $(window).load(function(){
          	$(".bx-wrapper").css("margin","0.5rem auto 0 auto");
          });
          $(".prt_type").on('tap',function(){
          	 $(".prt_property").addClass("on");
          	 $(".prt_property_info").addClass("pt-page-moveFromBottom");
          	 
          });
          $(".prt_property_bg,.close_btm").on('tap',function(){
          	 $(".prt_property").removeClass("on");
          	 $(".prt_property_info").removeClass("pt-page-moveFromBottom");
          });

   $(".open_slt_content li").eq(0).addClass("order_active");
    var minprice =$(".open_slt_content li").eq(0).find('input').val();
    $(".open_slt_price").html(minprice);
    $(".prt_type").html($(".open_slt_content li").eq(0).find('flag').html()+'<img src="/res/images/arrow_next.png" class="arrow_next" style="top: 0.85rem;">')

          $(".open_slt_content li").each(function(){
          	$(this).on('tap',function(){
          		$(this).addClass("order_active");
          		$(this).siblings().removeClass("order_active");
                var price =$(this).find('input').val();
                $(".open_slt_price").html(price);
          	});
          });

    $(".open_slt_submit").click(function () {
        var _qty = $("#buy_qty").val();
        var _price=$(".open_slt_price").html();
        all_price=parseInt(_qty)*parseFloat(_price);

        $(".price_all").html(all_price);
        $(".prt_type").html( $(".order_active").eq(0).find('flag').html()+'<img src="/res/images/arrow_next.png" class="arrow_next" style="top: 0.85rem;">')
        $(".prt_property").removeClass("on");
        $(".prt_property_info").removeClass("pt-page-moveFromBottom");

    })
    $.getJSON("{{site_url url='ajax/get_pics'}}/{{if $data['info']!=1}}{{$data['info']['folder']}}{{/if}}",function(data){
        html='';
        if (data['img']!=1){
            data['img'].forEach(function (item) {
              html+='<div class="slide"><img src="/uploadfiles/pics/'+data['time']+'/'+item+'"></div>'
                //alert(item[0]);
            })
            $(".slider7").html(html);

        }
        else{
        }
        $('.slider7').bxSlider({
            slideWidth: 640,
            infiniteLoop: true,
            controls: false,
            auto: true,
            autoStart: true,
        });
    });
    
    $("#save_cart").click(function () {
        var openid='123';
        var save_qty=$("#buy_qty").val();
        var pid="{{if $data['info']!=1}}{{$data['info']['id']}}{{/if}}";
        var pd_id=$(".open_slt_content li").filter('.order_active').eq(0).find('detailid').html();
        $.getJSON("{{site_url url='ajax/save_cart'}}/"+openid+"/"+save_qty+"/"+pid+"/"+pd_id,function(data){
         if (data==1){
                alert('加入成功！');
            }else{
                 alert('加入失败！');
            }
        });
    })
});
</script>
</html>
