{{include file="head.html"}}
 <ul class="top_menu"> 
 	<li><a href="{{site_url url='product/index'}}">
        <img src="../res/images/icon_shouye.png"><span >商城首页</span><div class="bottom_line"></div>
    </a>
    </li>
 	<li><a href="{{site_url url='product/product_main'}}">
        <img src="../res/images/icon_shangpin.png"><span >所有商品</span><div class="bottom_line "></div>
    </a>
    </li>
 	<li><a href="{{site_url url='product/product_type'}}"><img src="../res/images/icon_fenglei_on.png"><span class="color_on">分类</span><div class="bottom_line on"></div>
    </a></li>
 	<li></li>
 </ul>
 </div>
 <!--内容开始-->
 <div class="main" style="margin-top:0">
     <a href="{{site_url url='product/product_main'}}">
    <div class="prt_select_all">所有商品<img src="../res/images/arrow_next.png" class="arrow_next"><div class="bg_div"></div></div>
    </a>
         <ul class="prt_select_list">

             {{if $data!=1}}
             {{foreach from=$data item=foo}}
             <li>  <a href="{{site_url url='product/product_list'}}/{{$foo['id']}}">{{$foo['name']}}<img src="../res/images/arrow_next.png" class="arrow_next"><div class="bg_div color_gray"></div></a></li>
             {{/foreach}}
             {{/if}}

    </ul>
 </div>

</body>
<script type="text/javascript" src="../res/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../res/js/jquery-finger-0.1.0.min.js"></script>
<script type="text/javascript" src="../res/js/topmenu.js"></script>
<script type="text/javascript" src="../res/js/boxslide.js"></script>
<script type="text/javascript" src="../res/js/lazyload.js"></script>

</html>
